---
BasedOnStyle:                                    Chromium

ColumnLimit:                                     99
AllowShortFunctionsOnASingleLine:                All
BinPackArguments:                                false
InsertTrailingCommas:                            Wrapped
JavaScriptQuotes:                                Double
SpacesInContainerLiterals:                       false
